/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  --color-orange: 25deg, 97%, 53%;

  --color-grey: 217deg, 12%, 63%;
  --color-dark-blue: 213deg, 19%, 18%;
  --color-very-dark-blue: 216deg, 12%, 8%;
  --color-white: 0deg, 0%, 100%;
}

/* =================
   Mixins
   ================= */

// Grid w/borders from https://geary.co/internal-borders-css-grid/

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.rating {
  border-radius: 14px;
  background-color: hsl(var(--color-dark-blue));
  color: white;
  font-size: 2rem;
  width: 50%;
}
