/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  --color-orange: 25deg, 97%, 53%;

  --color-grey: 217deg, 12%, 63%;
  --color-bubble: 213deg, 19%, 19%;
  --color-dark-blue: 213deg, 19%, 13%;
  --color-very-dark-blue: 216deg, 12%, 8%;
  --color-white: 0deg, 0%, 100%;
}

/* =================
   Mixins
   ================= */

// Grid w/borders from https://geary.co/internal-borders-css-grid/

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(var(--color-dark-blue));
  font-size: 2rem;
  row-gap: 2rem;
  padding: 2rem;
}

.rating {
  &__img {
    transform: translateY(-15%);
    height: 15px;
    width: 15px;
  }

  &__title {
    color: hsl(var(--color-white));
    font-size: 2.4rem;
  }

  &__text {
    margin-block-start: -0.8rem;
    font-size: 1.4rem;
    line-height: 1.55em;
  }

  &__score {
    display: flex;
    font-size: 1.5rem;
    margin-block-start: 0.6rem;

    justify-content: space-between;

    .icon-circle {
      &:hover {
        background-color: hsl(var(--color-orange));
        color: hsl(var(--color-bubble));
        cursor: pointer;
      }
    }
  }

  .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 0.4rem;
    border-radius: 100px;
    height: 4.1rem;
    width: 4.1rem;
    background-color: hsl(var(--color-bubble));
  }

  &__cta {
    display: flex;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: hsl(var(--color-dark-blue));
    justify-content: center;
    border-radius: 100px;
    width: 100%;
    padding: 1rem;
    padding-block-start: 1.5rem;
    background-color: hsl(var(--color-orange));
    margin-left: 0 auto;
    margin-block-end: 1rem;
    align-self: center;

    &:hover {
      background-color: hsl(var(--color-white));
      color: hsl(var(--color-bubble));
      cursor: pointer;
    }
  }
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    margin-block-start: 0.7rem;
    scale: 88%;
  }

  &__choice {
    color: hsl(var(--color-orange));
    font-size: 1.4rem;

    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.5rem;
    padding-block-start: 0.8rem;
    padding-block-end: 0.6rem;
    border-radius: 100px;
    background-color: hsl(var(--color-bubble));
  }

  &__title {
    margin-block-start: 1rem;
    font-size: 2.3rem;

    color: hsl(var(--color-white));
  }

  &__text {
    margin-block-start: -0.9rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.53em;
    margin-block-end: 1rem;
  }
}
