/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   1.2 Layout
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

:root {
  // Colors

  --color-orange: 25deg, 97%, 53%;

  --color-grey: 217deg, 12%, 63%;
  --color-dark-blue: 213deg, 19%, 18%;
  --color-very-dark-blue: 216deg, 12%, 8%;
  --color-white: 0deg, 0%, 100%;
}

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 1.4rem;
  text-align: center;
  color: hsl(var(--color-white));

  text-wrap: balance;
  margin-block-start: 5rem;

  @media (min-width: 400px) {
  }

  @media (min-width: 830px) {
  }
}

.attribution a {
  color: hsl(var(--color-orange));
}

/* =============
   1.2 Layout 
   ============= */

.app-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
