/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   1.2 Layout
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 1.4rem;
  text-align: center;

  text-wrap: balance;
  margin-block-start: -8.5rem;

  @media (min-width: 400px) {
    margin-block-start: -2.5rem;
  }

  @media (min-width: 830px) {
    margin-block-start: -1.5rem;
  }
}
.attribution a {
  color: hsl(var(--color-green));
}

/* =============
   1.2 Layout 
   ============= */

.app-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
